<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show info about specific book by id</title>
</head>
<body>
    <h1>Choose your book</h1>
    <div class = by_id>
        {% for bookId in booklist %}
            <h1><a href="#####">Book №{{bookId.id}}</a></h1>
        {%endfor%}
    </div>
</body>
</html>