<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Orders</title>
</head>
<body>
    <h1>Information about all orders in library</h1>
    {% if order_objects %}
    <ol>
    {% for order in order_objects %}
        <li><h3>Order(id = {{order.id}})</h3>
            <p><b>user:</b> {{order.user}}</p>
            <p><b>book:</b> {{order.book}}</p>
            <p><b>created at:</b> {{order.created_at}}</p>
            <p><b>end at:</b> {{order.end_at}}</p>
            <p><b>plated end at:</b> {{order.plated_end_at}}</p><br>
        </li>
    {% endfor %}
    </ol>
    {% else %}
        <p>No orders are available.</p>
    {% endif %}
</body>
</html>